header, footer{
    background:#190934; color: white;
}
body{
    background:url('../images/4.jpg') no-repeat scroll center center; #236AB9;
    background-size: cover;
}
main{
    width: 80%;
    margin: 0 auto;
    background-color:rgba(35, 106, 185, 0.4);
}
/************HEADER*************/
#logo{
    float:left;
    display: inline-block;
    padding: 3%;
}
#menu-haut{
    text-align: right;
}
#menu-haut li{
    font-family: 'Amatic SC', cursive;
    color: #9D8674;
    display: inline-block;
    padding: 3%;
}
#menu-haut li a{
    color: #9D8674;
    font-size: 20px;
    text-decoration: none;
}
section{
    clear: both;
}
h1,h2,h3,h4, h5, h6{
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

/*********************/
/*pseudo élement*/
h1::first-letter,h2::first-letter,h3::first-letter,h4::first-letter,h5::first-letter{
    font-size: 1.5em;
    font-weight: bold;
    color:#190934;
}
a{
    font-family: 'FontAwesome', cursive;
}
a:link{
    color:#190934;
}
a:visited{
    color: #190934;
}
a:hover{
    color: cyan;
}
/*-------------------*/


/************corps de page*************/
#coordonnee, #contact{
    float:left;
    background-color: rgba(212, 228, 247, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
    height: 70%;
}
#coordonnee{
    margin: 4px;
    padding: 4px;
    text-align: left;
    font-family: 'FontAwesome', cursive;
}
#listContact{
    list-style-type: none;
    padding-left: 0px;
    color:red;
}
#listContact a{
    text-decoration: none;
    font-family: 'FontAwesome', cursive;    
    color: red;
}
#tableHoraire, th, td, tr{
    border : 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
/***************************************/
#contact{
    /* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}
}
#map iframe{
    width: 80%;
    height: 10%;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    font-family: 'dk_lemon_yellow_sun';
    padding: 2%;
}