header, footer{
    background:#190934; color: white;
}
footer{
    font-family: 'dk_lemon_yellow_sun';
    padding: 2%;
}
body{
    background:url('../images/4.jpg') no-repeat scroll center center;
    background-size: cover;
    background-color: #236AB9;
}
hr{
    border-top: 1px solid #190934;
}
a{
    font-family: 'FontAwesome', cursive;
}
/*attention à l'ordre*/
a:link{
    color:#190934;
}
a:visited{
    color: #190934;
}
a:hover{
    color:#255072;
}
main{
    width: 80%;
    margin: 0 auto;
    background-color:rgba(35, 106, 185, 0.4);
}
/************HEADER*************/
#logo{
    float:left;
    height: 2em;
    padding: 3%;
}
#menu-haut{
    text-align: right;
}
#menu-haut li{
    font-family: 'Amatic SC', cursive;
    color: #9D8674;
    display: inline-block;
    padding: 3%;
}
#menu-haut li .fa{
    font-size: 2em;
}
#menu-haut li a{
    color: #9D8674;
    font-size: 2em;
    text-decoration: none;
}
section{
    clear: both;
}
h1,h2,h3,h4, h5, h6{
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

/*********************/
/*pseudo élement*/
h1::first-letter,h2::first-letter,h3::first-letter,h4::first-letter,h5::first-letter{
    font-size: 1.5em;
    font-weight: bold;
    color:#190934;
}

input[type=submit]:hover {
  background-color: #255072;
}
input[type=reset]:hover {
  background-color: #255072;
}
#menu-Haut li a:hover{
    background-color: brown;
}
#choix:focus{
    color: brown;
}
/*-------------------*/
#image-produit, #description-produit{
    width:40%;
    float: left;
}
#image-produit{
    margin-right:3%;
    margin-left: 3%;
}
#image-produit img{
    width: 100%;
    border-radius: 5% 5% 20% 5%;
    vertical-align: center;
}
#description-produit{
    margin-left: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
    margin-right: 2%;
    background-color: rgba(42, 63, 90, 0.5);
    font-family: 'FontAwesome', cursive;
    text-align: left;
    color: #2e2c2b;
    border-radius: 5%;
}
#description-produit ul{
    list-style-type: none;
    margin-left: -9%;
}
#figure, figcaption{
    clear: both;
    text-align: center;
    color:#2e2c2b;
    margin-top:16%;
    font-family: 'dk_lemon_yellow_sun';
    font-size: 1.0em;
}
}
button{
    background-color: ;
}
figure img{
    width: 20%;
    height: 10%;
    margin-left: 2%;
    border-radius: 5% 5% 20% 5%;
    transition: transform .5s ease;
}
figure img:hover{
  transform: scale(1.2);
}
p{
    font-family: 'belligerent_madnessregular';
    text-indent: 1em;
}