main{
width: 80%;
margin: 0 auto;
background-color: blue;
}

aside, #coloneDroite{
    float:left;
    padding-left: 1%;
}
aside{
    width:20%;
    margin-right: 2%;
    background-color: brown;
}
#coloneDroite{
    width: 76%;
    background-color: cornsilk;
}